<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Cadastro de lançamento</span>
        </div>
    </md-toolbar>

    <form name="entryForm" ng-submit="vm.add()" novalidate>
        <div class="md-left" layout="row" layout-padding>
            <div flex="20">
                <md-radio-group ng-model="vm.entry.type">
                    <md-radio-button ng-value="1" class="md-primary"> Depósito </md-radio-button>
                    <md-radio-button ng-value="2" class="md-primary"> Saque </md-radio-button>
                </md-radio-group>
            </div>
            <div flex="20">
                <md-input-container>
                    <label>Valor</label>
                    <input name="entryValue" ng-model="vm.entry.value" required type="number">
                    <div ng-if="(entryForm.entryValue.$dirty && !vm.entry.value) || entryForm.$submitted" 
                         ng-messages="entryForm.entryValue.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </md-input-container>
            </div>
            <div flex>
                <md-button class="md-raised md-primary" type="submit">Adicionar</md-button>
            </div>
        </div>
    </form>
</md-card>

<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Listagem de lançamentos</span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="vm.query.order">
                <tr md-row>
                    <th md-column>Id</th>
                    <th md-column md-order-by="type">Tipo</th>
                    <th md-column md-order-by="value">Valor</th>
                    <th md-column md-order-by="date">Data</th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-show="vm.entries.length === 0">
                    <td md-cell colspan="5">Nenhum lançamento foi realizado.</td>
                </tr>
                <tr md-row ng-repeat="entry in vm.entries | orderBy: vm.query.order track by $index">
                    <td md-cell>{{ entry.id }}</td>
                    <td md-cell>{{ entry.type === 1 ? 'Depósito' : 'Saque' }}</td>
                    <td md-cell>{{ entry.value | currency:"R$" }}</td>
                    <td md-cell>{{ entry.date | date:'dd-MM-yyyy - HH:mm:ss'}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="vm.showConfirm($event,entry)">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
            <tfoot md-foot>
                <tr md-row>
                    <td md-cell><strong>TOTAL EM CONTA: </strong></td>
                    <td md-cell></td>
                    <td md-cell>{{ vm.total | currency:"R$" }}</td>
                    <td md-cell></td>
                    <td md-cell></td>
                </tr>
            </tfoot>
        </table>
    </md-table-container>
</md-card>
